{% extends 'folders/fautos.html' %}
{% load static %}

{% block  changetitle%}
<title>Registro Autos</title>
{% endblock  %}

<div>
{% block changepage %}

<form class="form_menu" action="{% url 'search_autos' %}" method="GET"> 
      <label id="m_label_search">Buscar</label>
      <input type="text" id="m_input_search" name="getautos">
      <button id="btn_search" type="submit" value="send">Buscar</button>
</form>

{%if autos%}
            {% for a in autos%}
            <h2 id="for_label">Datos del Registro</h2>
                <li id="for_item">Marca:  {{a.a_marca}}</li>
                <li id="for_item">Modelo: {{a.a_modelo}}</li>
                <li id="for_item">Año:    {{a.a_year}}</li>
                <li id="for_item">Estado: {{a.a_est}}</li>
            {%endfor%}
        {%endif%}

{% endblock %}

</div>
